.content.about
  h1(data-t) title.about
  table
    each k in ['name', 'address', 'president', 'founded', 'capital', 'occupation']
      tr
        td(data-t) about.#{k}.label
        td(data-t) about.#{k}.value

  h1 チーム
  each member in ['soneoka', 'daniel', 'naito']
    .member
      img.picture(data-attr-t src-t="team.#{member}.image")
      .name(data-t) team.#{member}.name
      .email(data-t) team.#{member}.email
      .bio(data-t) team.#{member}.bio
