extends ./layout.jade

block content
  main._company
    ._page-header: .column.small-12.text-center
      h1(data-t) company.label
      
    .row: .column.medium-10.medium-centered
      p.text-center.intro(data-t) company.origin
      
    .row.info
      dl.column.medium-5.address
        each k in ['name', 'president', 'founded', 'capital', 'address', 'access']
          dt(data-t) company.#{k}.label
          dd(data-t) company.#{k}.value
        
      .column.medium-7.map
        | <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6476.844012715416!2d139.761043!3d35.740431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188de846b25d1b%3A0xe2566d258ffa3177!2s2+Chome-3-1+Higashitabata%2C+Kita-ku%2C+T%C5%8Dky%C5%8D-to+114-0013!5e0!3m2!1sen!2sjp!4v1426758551708" width="100%" height="460" frameborder="0" style="border:0"></iframe>
        
    .row.members
      h2.head.text-center(data-t) company.team.label
      each k in ['soneoka', 'daniel', 'naito']
        .column.medium-4
          img.face(src="img/team/#{k}.jpg")
          h5(data-t) company.team.#{k}.name
          address #{k}@claudetech.com
          p(data-t) company.team.#{k}.bio
